{{define "content"}}
<div>
  <a href="/feeds/create">Add new feed</a>
</div>
<div>
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>URL</td>
      </tr>
    </thead>
    <tbody>
      {{range .}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.URL}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
